# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Data (duże / wrażliwe)
data/*
!data/README.md

# Model artifacts
*.pt
*.pth
*.ckpt
*.joblib
*.pkl

# OS
.DS_Store
Thumbs.db
*:Zone.Identifier
